//Primary Color
$colorPrimary: #55c57a;
$colorPrimaryLight: #7ed56f;
$colorPrimaryDark: #28b485;

//color
$colorGreyLight-1: #f7f7f7;
$colorGreyDark: #777;
$colorWhite: #fff;
$colorBlack: #000;

//Font
$defaultFontSize: 1.6rem;

//Grid
$gridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;
