.center-text {
  text-align: center;
}

.margin-top-big {
  margin-top: 8rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-left-small {
  margin-left: 1.5rem;
}

.margin-left-medium {
  margin-left: 4rem;
}

.margin-left-big {
  margin-left: 8rem;
}

.margin-right-small {
  margin-left: 1.5rem;
}
