.section-about {
  background-color: $colorWhite; //$colorGreyLight-1;
  padding: 25rem 0 20rem;
  margin-top: -10vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($colorPrimary, 0.8),
      rgba($colorPrimaryDark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  clip-path: polygon(50% 15%, 100% 0, 100% 85%, 50% 100%, 0% 85%, 0 0);
}
