.section-about {
  padding: $sectionPadding-medium;
  margin-top: $sectionMarginTop;
  background-color: $colorWhite; //$colorGreyLight-1;

  @include respond(mobile) {
    padding: 30rem 0;
  }
}

.section-features {
  padding: $sectionPadding-xs;
  margin-top: $sectionMarginTop;
  background-image: linear-gradient(
      to right bottom,
      rgba($colorPrimaryLight, 0.8),
      rgba($colorPrimaryDark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(50% 8%, 100% 0, 100% 92%, 50% 100%, 0% 92%, 0 0);
  clip-path: polygon(50% 8%, 100% 0, 100% 92%, 50% 100%, 0% 92%, 0 0);

  @include respond(tab-port) {
    -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0% 95%, 0 0);
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0% 95%, 0 0);
  }

  @include respond(mobile) {
    -webkit-clip-path: polygon(
      50% 3.5%,
      100% 0,
      100% 96.5%,
      50% 100%,
      0% 96.5%,
      0 0
    );
    clip-path: polygon(50% 3.5%, 100% 0, 100% 96.5%, 50% 100%, 0% 96.5%, 0 0);
  }
}

.section-services {
  padding: $sectionPadding-medium;
  margin-top: $sectionMarginTop;
  background-color: $colorWhite; //$colorGreyLight-1;

  @include respond(mobile) {
    padding: 30rem 0;
  }
}

.section-testimonials {
  position: relative;
  padding: $sectionPadding-small 15rem;
  margin-top: $sectionMarginTop;
  -webkit-clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0);
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0% 100%, 0 0);

  @include respond(tab-port) {
    padding: 15rem 0;
  }

  @include respond(mobile) {
    padding: 15rem 0;
    -webkit-clip-path: polygon(
      50% 3.5%,
      100% 0,
      100% 96.5%,
      50% 100%,
      0% 96.5%,
      0 0
    );
    clip-path: polygon(50% 3.5%, 100% 0, 100% 96.5%, 50% 100%, 0% 96.5%, 0 0);
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $colorPrimaryLight,
    $colorPrimaryDark
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
.book {
  background-image: linear-gradient(
      105deg,
      rgba($colorWhite, 0.9) 0%,
      rgba($colorWhite, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba($colorBlack, 0.2);

  &__form {
    width: 50%;
    padding: 6rem;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        100deg,
        rgba($colorWhite, 0.9) 0%,
        rgba($colorWhite, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($colorBlack, 0.2);

    &__form {
      width: 75%;
      padding: 6rem;
    }
  }

  @include respond(mobile) {
    background-image: linear-gradient(
        100deg,
        rgba($colorWhite, 0.9) 0%,
        rgba($colorWhite, 0.9) 80%,
        transparent 80%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($colorBlack, 0.2);

    &__form {
      width: 90%;
      padding: 6rem;
    }
  }
}
