.row {
  max-width: $gridWidth;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutterVertical;

    @include respond(tab-port) {
      margin-bottom: $gutterVerticalSm;
    }
  }

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutterHorizontal;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutterVerticalSm;
      }
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutterHorizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutterHorizontal}) / 3);
  }

  .col-2-of-3 {
    width: calc(
      (2 * (100% - 2 * #{$gutterHorizontal}) / 3) + #{$gutterHorizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutterHorizontal}) / 4);
  }

  .col-2-of-4 {
    width: calc(
      (2 * (100% - 3 * #{$gutterHorizontal}) / 4) + #{$gutterHorizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      (3 * (100% - 3 * #{$gutterHorizontal}) / 4) + (2 * #{$gutterHorizontal})
    );
  }

  .col-1-of-5 {
    width: calc((100% - 4 * #{$gutterHorizontal}) / 5);
  }

  .col-1-of-6 {
    width: calc((100% - 5 * #{$gutterHorizontal}) / 6);
  }
}

@include respond(tab-port) {
  .custom-size-card {
    max-width: 65rem;
  }

  .custom-size-row,
  .custom-size-book {
    max-width: 90rem;
  }
}
